<!DOCTYPE html>
<html lang="vi" th:fragment="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản trị Hệ thống | JobDB System</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
        body { font-family: 'Inter', sans-serif; }
        .custom-scrollbar::-webkit-scrollbar { width: 4px; }
        .custom-scrollbar::-webkit-scrollbar-thumb { background: #e2e8f0; border-radius: 10px; }
    </style>
</head>
<body class="bg-[#f8fafc] text-slate-900 flex h-screen overflow-hidden">
    <div th:replace="admin/fragments/sidebar :: aside-menu"></div>
    <div class="flex-1 flex flex-col overflow-hidden">
        <div th:replace="admin/fragments/header :: header"></div>

        <main class="flex-1 overflow-y-auto p-8 custom-scrollbar">

             <th:block th:replace="::content"></th:block>
            
        </main>
    </div>
    <script th:src="@{/js/admin/perm.js}"></script>
</body>
</html>