POSTGRES_DB=job_platform_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456

REDIS_PORT=6379
REDIS_PASSWORD=123456

STRIPE_PUBLIC_KEY=pk_test_51THJP3RC9mczPN1RQatPZxZVHaeQBUJ6Cc5FMZWVT4YLeS38aOe5DdY2625XqfZz8eGepyTA46GbPbXteQQxGTS000vw4HnMOl
STRIPE_SECRET_KEY=sk_test_51THJP3RC9mczPN1RVhQpxK9f17SqP4ZKFSe7sa7OyWpkNge8mOHd9JzaODPRCpz51wqzKSJ83xcAcu7H3i228sHr00p29QR1Gk
STRIPE_WEBHOOK_SECRET=whsec_b778ffe3ef572bab3486b73d93f3e99dd387246d4198341b9ea0ac9a3c7f9e38

EMBED_HOST=localhost
EMBED_PORT=8000
EMBED_API_KEY=PASSWORD_la_AVien72_dep_trai_nhat_VT_aka_Ximofam
EMBED_HF_TOKEN=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
EMBED_HF_MODEL=BAAI/bge-m3